<main  role="main" class="container">
  <div class="row">
    <div class="col-md-12 blog-main">
      <img src="{{noticia['url_img']}}" class="blog-post" align="justify" width="1000rem" height="500rem" preserveAspectRatio="xMidYMid slice" alt="imagen">

      <h3 class="pb-4 mb-4 font-italic border-bottom">
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">{{noticia["title"]}}</h2>
        <h4 class="pb-4 mb-4 font-italic border-bottom">{{noticia["subtitle"]}}</h4>
        <p class="blog-post-meta">{{timeConverter(noticia["date"])}}<a href="#">&nbsp;&nbsp;{{noticia["author"]}}</a></p>
        <p class="blog-post-meta"> <a href="#">{{noticia["labels"]}}</a></p>

        <p style="white-space:pre-line" align="justify">{{noticia["body"]}}</p>
      </div><!-- /.blog-post -->
      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->
